.btnForm{
    /* padding:10px 50px; */
    display: block;
    width: 100px;
    padding: 5px 0;
    border-radius:10px;
    border:1px solid;
    transition: background .5s ease,transform .2s ease;
    &:hover{
        background: red;
        transform: scale(1.2);
        cursor: pointer;
        
     }
    margin-top: 20px;
    

}
#contenedorTable{
    width: 500px;
}
#contenedorTable2{
    width: 500px;
}
